**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/node_modules
**/test-coverage
**/tmp
**/.web_bundle_build
.gradle
.idea
/bundles
/gradle-*.properties
/plugins-sdk/**/classes
/plugins-sdk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib
test-results
modules/ongc-login/bnd.bnd
modules/ongc-reports-inner-theme.war
modules/ongc-reports-login-theme.war
modules/ongc-reports-theme.war
modules/media/com.ongc.liferay.media-1.0.0.jar
modules/media/src/main/resources/META-INF/resources/folderFile.jspbckup
modules/mediatags/.gitignore
modules/onlinepayment/.gitignore
modules/onlinepayment/bnd.bnd
modules/onlinepayment/build.gradle
modules/onlinepayment/src/main/java/com/ongc/payment/constants/OnlinepaymentPortletKeys.java
modules/onlinepayment/src/main/java/com/ongc/payment/dao/ConnMgmt.java
modules/onlinepayment/src/main/java/com/ongc/payment/dao/LocationDao.java
modules/onlinepayment/src/main/java/com/ongc/payment/model/Location.java
modules/onlinepayment/src/main/java/com/ongc/payment/portlet/OnlinepaymentPortlet.java
modules/onlinepayment/src/main/resources/content/Language.properties
modules/onlinepayment/src/main/resources/META-INF/resources/init.jsp
modules/onlinepayment/src/main/resources/META-INF/resources/newhome.jsp
modules/onlinepayment/src/main/resources/META-INF/resources/view.jsp
modules/onlinepayment/src/main/resources/META-INF/resources/css/main.scss
modules/reports/com.ongc.liferay.reports-1.0.0.jar
modules/reports/src/main/resources/META-INF/resources/feedback.zip
modules/repots/com.ongc.liferay-1.0.0.jar
modules/repots/src/main/resources/META-INF/resources.zip
modules/repots/src/main/resources/META-INF/resources/facilitation.zip
